[Unit]
Description=Agoric Cosmos daemon
After=network-online.target

[Service]
Environment="OTEL_EXPORTER_PROMETHEUS_PORT=9464"
User=agoric
ExecStart=/home/agoric/go/bin/ag-chain-cosmos start --log_level=warn
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target